.box {
  width: 100%;
  min-width: 300px;
  border: 2px solid lightskyblue;
  padding: 1em;
  word-wrap: break-word;
}

.flexBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.infoBox {
  flex: 1;
  overflow: hidden;
}

.removeBtn {
  background-color: white;
  width: 30px;
  height: 30px;
}

.modalFlexBox {
  display: flex;
  justify-content: space-around;
}

.modalTitle {
  margin-bottom: 30px;
}

.modalBtn {
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid black;
}
