.home {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  gap: 15px;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logoutButton {
  padding: 0.5em;
  border: 1px solid black;
  background-color: transparent;
  margin-left: auto;
}

.title {
  overflow: auto;
  width: 100%;
  text-align: center;
}
