.circle {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle:disabled {
  opacity: 0.5;
}

.innerCircle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid black;
}

.clicked {
  background-color: black;
}
